@page "/notes"
@using Sareq.Shared.DTOs
@inject NoteService NoteService

<div class="notes-layout">
    <div class="notes-toolbar">
        <button>T</button>
    </div>

    <div class="notes-body">
        <div class="notes-list">
            <div class="list-actions">
                <button class="app-btn app-btn green" @onclick="CreateNewNote">New Note</button>
                <button class ="app-btn">Filter</button>
            </div>
            <ul>
                @foreach (var note in notes)
                {
                    if (selectedNoteId == note.Id)
                    {
                        <li class="list-item selected">- @note.Title</li>
                    }
                    else
                    {
                        <li class="list-item" @onclick="() => SelectNote(note.Id)">- @note.Title</li>
                    }
                }
            </ul>
        </div>
        <div class="note-panel">
            @if (selectedNote is null && selectedNoteId != -1)
            {
                <em>Loading note...</em>
            }
            else if (selectedNote is not null)
            {
                <h3>
                    <InputText class="note-title-input" @bind-Value="selectedNote.Title" />
                </h3>

                @foreach (var element in selectedNote.Elements)
                {
                    <div class="note-element" style="left:@(element.X)px; top:@(element.Y)px;">
                        @* render element here *@
                    </div>
                }
            }
        </div>
    </div>
</div>

@code {
    private IEnumerable<ListedNoteDto> notes = [];

    private NoteDto? selectedNote = null;
    private int selectedNoteId = -1;

    protected override async Task OnInitializedAsync()
    {
        notes = await NoteService.GetNoteListAsync();
    }

    private async Task SelectNote(int noteId)
    {
        selectedNoteId = noteId; //instant feedback 
        selectedNote = await NoteService.GetNoteAsync(noteId);
    }

    private async Task CreateNewNote()
    {
        var newNote = await NoteService.CreateNoteAsync(new CreateNoteDto());

        if (newNote is null)
            return;

        selectedNoteId = newNote.Id;
        selectedNote = newNote;
        notes = await NoteService.GetNoteListAsync(); // refresh the list
    }
}
